footer {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer .bg-white {
    background-color: #FFFFFF;
}

.social-footer {
    display: flex;
    padding-right: 15rem;
}